---
apiVersion: "postgresql.cnpg.io/v1"
kind: "Cluster"
metadata:
  name: "postgres"
  namespace: "postgres"
spec:
  instances: 1
  imagePullPolicy: "IfNotPresent"
  resources: {}
  managed:
    roles:
      - name: "app"
        ensure: "absent"
      - name: "" # TODO
        ensure: "present"
        login: true
        superuser: false
        inRoles:
          - "pg_monitor"
          - "pg_signal_backend"
        passwordSecret:
          name: ""
  storage:
    pvcTemplate:
      volumeName: "postgres"
      storageClassName: "local-path"
      volumeMode: "Filesystem"
      accessModes:
        - "ReadWriteOnce"
      resources:
        requests:
          storage: "1Gi"
  bootstrap:
    initdb: {}
