# general
POOL=/path/to/pool

# plex
PLEX_CLAIM=

# code-server
CODE_SERVER_PASSWORD=
CODE_SERVER_HASHED_PASSWORD=
CODE_SERVER_SUDO_PASSWORD=
CODE_SERVER_SUDO_PASSWORD_HASH=
CODE_SERVER_PROXY_DOMAIN=

# traefik
ACME_EMAIL=
NJALLA_TOKEN=
DOMAIN=
