POOL=/path/to/pool
PLEX_CLAIM=
CODE_SERVER_PASSWORD=
CODE_SERVER_HASHED_PASSWORD=
CODE_SERVER_SUDO_PASSWORD=
CODE_SERVER_SUDO_PASSWORD_HASH=
CODE_SERVER_PROXY_DOMAIN=
WHOAMI_HOST=
TRAEFIK_HOST=
ACME_EMAIL=