---
apiVersion: "gateway.envoyproxy.io/v1alpha1"
kind: "EnvoyProxy"
metadata:
  name: "envoy-proxy"
  namespace: "envoy-gateway-system"
spec:
  routingType: "Endpoint" # default
  ipFamily: "IPv4" # default
  logging:
    level:
      default: "info"
  provider:
    type: "Kubernetes"
    kubernetes:
      envoyDeployment:
        name: "envoy-proxy"
        replicas: 1
      envoyPDB:
        name: "envoy-proxy"
        minAvailable: 1
      envoyServiceAccount:
        name: "envoy-proxy"
      envoyService:
        name: "envoy-proxy"
        labels:
          ip-pool: "static"
        annotations:
          lbipam.cilium.io/ips: "102.168.1.99"
        type: "LoadBalancer"
        loadBalancerClass: "io.cilium/l2-announcer"
        externalTrafficPolicy: "Local" # default
