---
apiVersion: "gateway.envoyproxy.io/v1alpha1"
kind: "EnvoyProxy"
metadata:
  name: "private"
  namespace: "envoy-gateway-system"
spec:
  provider:
    type: "Kubernetes"
    kubernetes:
      envoyDeployment:
        replicas: 1
      envoyService:
        type: "ClusterIP"
  ipFamily: "IPv4"
  logging:
    level:
      default: "info"
---
apiVersion: "gateway.envoyproxy.io/v1alpha1"
kind: "EnvoyProxy"
metadata:
  name: "public"
  namespace: "envoy-gateway-system"
spec:
  provider:
    type: "Kubernetes"
    kubernetes:
      envoyDeployment:
        replicas: 1
      envoyService:
        type: "ClusterIP"
  ipFamily: "IPv4"
  logging:
    level:
      default: "info"
