---
apiVersion: "postgresql.cnpg.io/v1"
kind: "Cluster"
metadata:
  name: "postgres"
  namespace: "nextcloud"
spec:
  instances: 1
  storage:
    size: "10Gi"
    pvcTemplate:
      volumeName: "nextcloud-database"
      storageClassName: "local-path"
      accessModes:
        - "ReadWriteOnce"
      volumeMode: "Filesystem"
  resources: {}
  bootstrap:
    initdb:
      database: "nextcloud"
      owner: "nextcloud"
  managed:
    roles:
      - name: "app"
        ensure: "absent"
      - name: "nextcloud"
        ensure: "present"
        login: true
        superuser: false
        inRoles:
          - "pg_monitor"
          - "pg_signal_backend"
        passwordSecret:
          name: "postgres"
---
apiVersion: "postgresql.cnpg.io/v1"
kind: "Database"
metadata:
  name: "nextcloud"
  namespace: "nextcloud"
spec:
  cluster:
    name: "nextcloud"
  name: "nextcloud"
  owner: "nextcloud"
  ensure: "present"
