---
apiVersion: "argoproj.io/v1alpha1"
kind: "Application"
metadata:
  name: "cert-manager"
  namespace: "argocd"
spec:
  destination:
    name: "in-cluster"
    namespace: "cert-manager"
  project: "default"
  source:
    repoURL: "https://charts.jetstack.io"
    chart: "cert-manager"
    targetRevision: "v1.19.2"
    helm:
      namespace: "cert-manager"
      skipCrds: false
      valuesObject:
        global:
          leaderElection:
            namespace: "cert-manager"
        crds:
          enabled: true
          keep: true
        config:
          apiVersion: "controller.config.cert-manager.io/v1alpha1"
          kind: "ControllerConfiguration"
          leaderElectionConfig:
            namespace: "cert-manager"
          enableGatewayAPI: true
        clusterResourceNamespace: "cert-manager"
        namespace: "cert-manager"
        prometheus:
          enabled: false
