---
apiVersion: "argoproj.io/v1alpha1"
kind: "Application"
metadata:
  name: "cert-manager"
  namespace: "argocd"
spec:
  destination:
    name: "in-cluster"
  project: "default"
  syncPolicy:
    automated:
      enabled: false
    syncOptions:
      - "RespectIgnoreDifferences=true"
  ignoreDifferences: []
  sources:
    - name: "gitops"
      repoURL: "https://github.com/skarre-r/homelab.git"
      path: "manifests/cluster/cert-manager"
      targetRevision: "HEAD"

    - name: "cert-manager"
      repoURL: "https://charts.jetstack.io"
      chart: "cert-manager"
      targetRevision: "v1.19.2"
      helm:
        namespace: "cert-manager"
        skipCrds: false
        valuesObject:
          namespace: "cert-manager"
          global:
            priorityClassName: "system-cluster-critical"
            leaderElection:
              namespace: "cert-manager"
          crds:
            enabled: true
            keep: true
          config:
            apiVersion: "controller.config.cert-manager.io/v1alpha1"
            kind: "ControllerConfiguration"
            leaderElectionConfig:
              namespace: "cert-manager"
            enableGatewayAPI: true
          clusterResourceNamespace: "cert-manager"
          prometheus:
            enabled: false

    - name: "trust-manager"
      repoURL: "https://charts.jetstack.io"
      chart: "trust-manager"
      targetRevision: "v0.20.3"
      helm:
        namespace: "cert-manager"
        skipCrds: false
        valuesObject:
          crds:
            enabled: true
          replicaCount: 1
          namespace: "cert-manager"
