---
apiVersion: "v1"
kind: "ConfigMap"
metadata:
  name: "postgres-conf"
  namespace: "immich"
  labels:
    app.kubernetes.io/name: "immich"
    app.kubernetes.io/component: "database"
data:
  postgresql.conf: |-
    # docs: https://hub.docker.com/_/postgres
    listen_addresses = '*'
---
apiVersion: "v1"
kind: "ConfigMap"
metadata:
  name: "postgres-scripts"
  namespace: "immich"
  labels:
    app.kubernetes.io/name: "immich"
    app.kubernetes.io/component: "database"
data:
  health.sh: |-
    #!/usr/bin/env bash

    if [ -z "${POSTGRES_DB}" ]; then
        echo "error: POSTGRES_DB is undefined"
        exit 1
    fi
    if [ -z "${POSTGRES_USER}" ]; then
        echo "error: POSTGRES_USER is undefined"
        exit 1
    fi
    if [ -z "${POSTGRES_PASSWORD}" ]; then
        echo "error: POSTGRES_PASSWORD is undefined"
        exit 1
    fi
    exec pg_isready -U "${POSTGRES_USER}" -d "dbname=${POSTGRES_DB}" -h 127.0.0.1 -p 5432
