---
apiVersion: "apps/v1"
kind: "Deployment"
metadata:
  name: "immich"
  namespace: "immich"
  labels:
    app.kubernetes.io/name: "immich"
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: "immich"
  template:
    metadata:
      labels:
        app.kubernetes.io/name: "immich"
    spec:
      volumes:
        - name: "data"
          persistentVolumeClaim:
            claimName: "immich"
        - name: "config-file"
          configMap:
            name: "immich-config"
            items:
              - key: "immich.json"
                path: "immich.json"
      containers:
        - name: "immich"
          image: "ghcr.io/immich-app/immich-server:v2"
          imagePullPolicy: "IfNotPresent"
          env:
            - name: "TZ"
              value: "Europe/Oslo"
            - name: "IMMICH_ENV"
              value: "production"
            - name: "IMMICH_MEDIA_LOCATION"
              value: "/data"
            - name: "IMMICH_CONFIG_FILE"
              value: "/etc/immich.json"
            - name: "IMMICH_API_METRICS_PORT"
              value: "8081"
            - name: "IMMICH_MICROSERVICES_METRICS_PORT"
              value: "8082"
            - name: "IMMICH_TRUSTED_PROXIES"
              value: "10.0.0.0/8"
            - name: "IMMICH_ALLOW_SETUP"
              value: "true"
            - name: "IMMICH_HOST"
              value: "0.0.0.0"
            - name: "IMMICH_PORT"
              value: "2283"
            - name: "DB_HOSTNAME"
              value: "postgres.postgres-system.svc.cluster.local"
            - name: "DB_PORT"
              value: "5432"
            - name: "DB_USERNAME"
              value: "immich"
            - name: "DB_PASSWORD"
              value: ""
            - name: "DB_DATABASE_NAME"
              value: "immich"
            - name: "DB_SKIP_MIGRATIONS"
              value: "false"
            - name: "DB_STORAGE_TYPE"
              value: "HDD"
            - name: "REDIS_HOSTNAME"
              value: "valkey.valkey-system.svc.cluster.local"
            - name: "REDIS_PORT"
              value: "6379"
            - name: "REDIS_USERNAME"
              value: ""
            - name: "REDIS_PASSWORD"
              value: ""
            - name: "REDIS_DBINDEX"
              value: "1"
          ports:
            - containerPort: 2283
              protocol: "TCP"
            - containerPort: 8081
              protocol: "TCP"
            - containerPort: 8082
              protocol: "TCP"
          startupProbe:
            tcpSocket:
              port: 2283
          readinessProbe:
            tcpSocket:
              port: 2283
          livenessProbe:
            tcpSocket:
              port: 2283
          resources: {}
          securityContext: {}
          volumeMounts:
            - mountPath: "/data"
              name: "immich"
            - mountPath: "/etc"
              name: "config-file"
