---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "sonarr"
  namespace: "sonarr"
  labels:
    app.kubernetes.io/name: "sonarr"
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: "sonarr"
  template:
    metadata:
      labels:
        app.kubernetes.io/name: "sonarr"
    spec:
      volumes:
        - name: "config"
          persistentVolumeClaim:
            claimName: "sonarr-config"
        - name: "media"
          persistentVolumeClaim:
            claimName: "sonarr-media"
      containers:
        - name: "sonarr"
          image: "lscr.io/linuxserver/sonarr:latest"
          imagePullPolicy: "Always"
          env:
            - name: "TZ"
              value: "Europe/Oslo"
            - name: "PUID"
              value: "1000"
            - name: "PGID"
              value: "1000"
          ports:
            - containerPort: 8989
              protocol: "TCP"
          startupProbe:
            tcpSocket:
              port: 8989
          readinessProbe:
            tcpSocket:
              port: 8989
          livenessProbe:
            tcpSocket:
              port: 8989
          volumeMounts:
            - mountPath: "/config"
              name: "config"
            - mountPath: "/media"
              name: "media"
