---
apiVersion: "v1"
kind: "ConfigMap"
metadata:
  name: "postgres-conf"
  namespace: "postgres-system"
  labels:
    app.kubernetes.io/name: "postgres"
    app.kubernetes.io/component: "database"
data:
  postgresql.conf: |-
    # docs: https://hub.docker.com/_/postgres
    listen_addresses = '*'
---
apiVersion: "v1"
kind: "ConfigMap"
metadata:
  name: "postgres-scripts"
  namespace: "postgres-system"
  labels:
    app.kubernetes.io/name: "postgres"
    app.kubernetes.io/component: "database"
data:
  health.sh: |-
    #!/usr/bin/env bash

    if [ -z "${POSTGRES_DB}" ]; then
        echo "error: POSTGRES_DB is undefined"
        exit 1
    fi
    if [ -z "${POSTGRES_USER}" ]; then
        echo "error: POSTGRES_USER is undefined"
        exit 1
    fi
    if [ -z "${POSTGRES_PASSWORD}" ]; then
        echo "error: POSTGRES_PASSWORD is undefined"
        exit 1
    fi
    exec pg_isready -U "${POSTGRES_USER}" -d "dbname=${POSTGRES_DB}" -h 127.0.0.1 -p 5432
---
apiVersion: "v1"
kind: "ConfigMap"
metadata:
  name: "postgres-initdb-scripts"
  namespace: "postgres-system"
  labels:
    app.kubernetes.io/name: "postgres"
    app.kubernetes.io/component: "database"
data:
  nextcloud.sh: |-
    #!/usr/bin/env bash

    if [ -z "${POSTGRES_DB}" ]; then
        echo "error: POSTGRES_DB is undefined"
        exit 1
    fi
    if [ -z "${POSTGRES_USER}" ]; then
        echo "error: POSTGRES_USER is undefined"
        exit 1
    fi

    psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" <<-EOSQL
        CREATE USER nextcloud;
        CREATE DATABASE nextcloud;
        GRANT ALL PRIVILEGES ON DATABASE nextcloud TO nextcloud;
    EOSQL

  freshrss.sh: |-
    #!/usr/bin/env bash

    if [ -z "${POSTGRES_DB}" ]; then
        echo "error: POSTGRES_DB is undefined"
        exit 1
    fi
    if [ -z "${POSTGRES_USER}" ]; then
        echo "error: POSTGRES_USER is undefined"
        exit 1
    fi

    psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" <<-EOSQL
        CREATE USER freshrss;
        CREATE DATABASE freshrss;
        GRANT ALL PRIVILEGES ON DATABASE freshrss TO freshrss;
    EOSQL
