---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "gluetun"
  namespace: "gluetun"
spec:
  storageClassName: "local-path"
  accessModes:
    - "ReadWriteOnce"
  resources:
    requests:
      storage: "1Gi"
  volumeName: "gluetun"
  volumeMode: "Filesystem"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "prowlarr-config"
  namespace: "gluetun"
spec:
  storageClassName: "local-path"
  accessModes:
    - "ReadWriteOnce"
  resources:
    requests:
      storage: "1Gi"
  volumeName: "prowlarr-config"
  volumeMode: "Filesystem"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "transmission-config"
  namespace: "gluetun"
spec:
  storageClassName: "local-path"
  accessModes:
    - "ReadWriteOnce"
  resources:
    requests:
      storage: "1Gi"
  volumeName: "transmission-config"
  volumeMode: "Filesystem"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "transmission-media"
  namespace: "gluetun"
spec:
  storageClassName: "local-path"
  accessModes:
    - "ReadWriteOnce"
  resources:
    requests:
      storage: "1Gi"
  volumeName: "transmission-media"
  volumeMode: "Filesystem"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "qbittorrent-config"
  namespace: "gluetun"
spec:
  storageClassName: "local-path"
  accessModes:
    - "ReadWriteOnce"
  resources:
    requests:
      storage: "1Gi"
  volumeName: "qbittorrent-config"
  volumeMode: "Filesystem"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "qbittorrent-media"
  namespace: "gluetun"
spec:
  storageClassName: "local-path"
  accessModes:
    - "ReadWriteOnce"
  resources:
    requests:
      storage: "1Gi"
  volumeName: "qbittorrent-media"
  volumeMode: "Filesystem"
