# TODO: https://external-secrets.io/latest/provider/kubernetes/
---
apiVersion: "external-secrets.io/v1"
kind: "ClusterSecretStore"
metadata:
  name: "kubernetes"
spec:
  provider:
    kubernetes:
      server:
        url: "https://kubernetes.default.svc"
        caProvider:
          type: "ConfigMap"
          name: "kube-root-ca.crt"
          key: "ca.crt"
