---
- name: "Fetch kubeconfig from homelab server"
  hosts: "homelab"
  tasks:
    - name: "Check if remote kubeconfig file exists"
      ansible.builtin.stat:
        path: "/etc/rancher/k3s/k3s.yaml"
      register: "remote_kubeconfig_file"

    - name: "Fetch kubeconfig file"
      ansible.builtin.fetch:
        src: "/etc/rancher/k3s/k3s.yaml"
        dest: "{{ lookup('env', 'HOME') }}/.kube/config"
        flat: true
      when:
        - remote_kubeconfig_file.stat.exists

    - name: "Replace ip address in local kubeconfig file"
      ansible.builtin.lineinfile:
        path: "{{ lookup('env', 'HOME') }}/.kube/config"
        state: "present"
        line: "    server: https://192.168.1.21:6443"
        search_string: "server:"
      delegate_to: "localhost"
      vars:
        ansible_become: false
