---
apiVersion: cert-manager.io/v1
kind: "Certificate"
metadata:
  name: "nextcloud-internal"
  namespace: "nextcloud"
spec:
  issuerRef:
    name: "ca-issuer"
    kind: "ClusterIssuer"
    group: "cert-manager.io"
  secretName: "nextcloud-internal-cert"
  dnsNames:
    - "192.168.1.51"
  ipAddresses:
    - "192.168.1.51"
