---
apiVersion: "gateway.envoyproxy.io/v1alpha1"
kind: "EnvoyProxy"
metadata:
  name: "nextcloud"
  namespace: "nextcloud"
spec:
  logging:
    level:
      default: "info"
  provider:
    type: "Kubernetes"
    kubernetes:
      envoyDeployment:
        replicas: 1
      envoyService:
        name: "nextcloud-envoy-proxy"
        type: "LoadBalancer"
        loadBalancerClass: "io.cilium/l2-announcer"
        labels:
          ip-pool: "static"
        annotations:
          lbipam.cilium.io/ips: "192.168.1.52"
