---
apiVersion: "gateway.networking.k8s.io/v1"
kind: "Gateway"
metadata:
  name: "nextcloud-envoy"
  namespace: "nextcloud"
spec:
  gatewayClassName: "envoy"
  infrastructure:
    parametersRef:
      group: "gateway.envoyproxy.io"
      kind: "EnvoyProxy"
      name: "nextcloud"
  listeners:
    - name: "http"
      hostname: "n7d.skar.io"
      port: 80
      protocol: "HTTP"
      allowedRoutes:
        namespaces:
          from: "Same"
