---
apiVersion: "gateway.networking.k8s.io/v1"
kind: "Gateway"
metadata:
  name: "nextcloud"
  namespace: "nextcloud"
spec:
  gatewayClassName: "cilium"
  listeners:
    - name: "http"
      port: 80
      protocol: "HTTP"
      allowedRoutes:
        namespaces:
          from: "Same"
  addresses:
    - type: "IPAddress"
      value: "192.168.1.51"
