---
apiVersion: "cert-manager.io/v1"
kind: "Issuer"
metadata:
  name: "selfsigned-issuer"
  namespace: "nextcloud"
  annotations:
    kubernetes.io/description: "1. self-signed certificate issuer"
spec:
  selfSigned: {}
---
apiVersion: "cert-manager.io/v1"
kind: "Issuer"
metadata:
  name: "selfsigned-ca-issuer"
  namespace: "nextcloud"
  annotations:
    kubernetes.io/description: "3. self-signed certificate authority certificate issuer"
spec:
  ca:
    secretName: "selfsigned-ca-cert"
---
apiVersion: cert-manager.io/v1
kind: "Issuer"
metadata:
  name: "letsencrypt-staging-issuer"
  namespace: "nextcloud"
spec:
  acme:
    privateKeySecretRef:
      name: "letsencrypt-staging-issuer-account-key"
    server: "https://acme-staging-v02.api.letsencrypt.org/directory"
    profile: "tlsserver"
    email: "skarre-r@protonmail.com"
    solvers:
      - http01:
          gatewayHTTPRoute:
            parentRefs:
              - name: "nextcloud-external"
                namespace: "nextcloud"
                kind: "Gateway"
