---
apiVersion: "cert-manager.io/v1"
kind: "Issuer"
metadata:
  name: "selfsigned-issuer"
  namespace: "nextcloud"
  annotations:
    kubernetes.io/description: "1. self-signed certificate issuer"
spec:
  selfSigned: {}
---
apiVersion: "cert-manager.io/v1"
kind: "Issuer"
metadata:
  name: "selfsigned-ca-issuer"
  namespace: "nextcloud"
  annotations:
    kubernetes.io/description: "3. self-signed certificate authority certificate issuer"
spec:
  ca:
    secretName: "selfsigned-ca-cert"
