---
apiVersion: "v1"
kind: "Secret"
metadata:
  name: "nextcloud"
  namespace: "nextcloud"
type: "Opaque"
data:
  username: ""
  password: ""
  token: ""
  smtp-username: ""
  smtp-password: ""
  smtp-host: ""
