---
apiVersion: "apps/v1"
kind: "Deployment"
metadata:
  name: "freshrss"
  namespace: "freshrss"
  labels:
    app.kubernetes.io/name: "freshrss"
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: "freshrss"
  template:
    metadata:
      labels:
        app.kubernetes.io/name: "freshrss"
    spec:
      volumes:
        - name: "config"
          persistentVolumeClaim:
            claimName: "freshrss-config"
      containers:
        - name: "freshrss"
          image: "lscr.io/linuxserver/freshrss:latest"
          imagePullPolicy: "IfNotPresent"
          env:
            - name: "TZ"
              value: "Europe/Oslo"
            - name: "PUID"
              value: "1000"
            - name: "PGID"
              value: "1000"
          ports:
            - containerPort: 80 # TODO?
              protocol: "TCP"
          startupProbe:
            tcpSocket:
              port: 80
          readinessProbe:
            tcpSocket:
              port: 80
          livenessProbe:
            tcpSocket:
              port: 80
          resources: {}
          securityContext: {}
          volumeMounts:
            - mountPath: "/config"
              name: "config"
