---
apiVersion: "v1"
kind: "PersistentVolumeClaim"
metadata:
  name: "freshrss-config"
  namespace: "freshrss"
spec:
  volumeName: "freshrss-config"
  storageClassName: "local-path"
  accessModes:
    - "ReadWriteOnce"
  resources:
    requests:
      storage: "1Gi"
  volumeMode: "Filesystem"
