---
apiVersion: "postgresql.cnpg.io/v1"
kind: "Cluster"
metadata:
  name: "postgres"
  namespace: "freshrss"
spec:
  instances: 1
  resources: {}
  storage:
    pvcTemplate:
      volumeName: "postgres"
      storageClassName: "local-path"
      accessModes:
        - "ReadWriteOnce"
      volumeMode: "Filesystem"
      resources:
        requests:
          storage: "1Gi"
  bootstrap:
    initdb:
      database: "freshrss"
      owner: "freshrss"
  managed:
    roles:
      - name: "app"
        ensure: "absent"
      - name: "freshrss"
        ensure: "present"
        login: true
        superuser: false
        inRoles:
          - "pg_monitor"
          - "pg_signal_backend"
        disablePassword: false # TODO?
        passwordSecret:
          name: "" # TODO
---
apiVersion: "postgresql.cnpg.io/v1"
kind: "Database"
metadata:
  name: "freshrss"
  namespace: "freshrss"
spec:
  cluster:
    name: "postgres"
  name: "freshrss"
  owner: "freshrss"
  ensure: "present"
